@font-face{
    font-family: 'roboto';
    src: url('Font/RobotoSlab-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

*{
    margin: 0;
    padding: 0;
    padding-bottom: 5px;
    box-sizing: border-box;
    font-family: 'roboto';
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    justify-content: end;
    width: auto;
    height: 30vh;
    padding: 20px;
    background-image: linear-gradient(rgba(187, 144, 158, 0.432), rgba(153, 179, 185, 0.411), rgba(131, 187, 150, 0.658)),url(Multimedia/Space\ Burguer.jpg);
    background-size: cover;
    background-position: center;
    font-size: 20px;
}

header li{
    margin: 7px;
    margin-top: 10vh;
}

.barra{
    float: center;
    text-transform: capitalize;
}

.barra ul li{
    list-style: none;
    display: inline-block;
    color: white;
    padding-top: 130px;
}

.barra a{
    color: white;
    text-decoration: none;
}

.barra a:hover{
    color: black;
}

.Menu a{
    text-decoration: none;
    color: white;
}

.Menu ul li{
    color: white;
    list-style: none;
    margin: 20px;
}

.Menu a:hover{
    color: #000;
}


body{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 2em;
    background-image: url(Multimedia/Astronauta.jpg);
    margin-bottom: 0px;
    height: 100%;
    background-size: cover;
    background-position: center;
}

main{
    height: 130vh;
    width: 100%;
    background-image: url(Multimedia/Astronauta.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 15vh;
}

.call{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid purple;
    padding: 20px;
}

h1{
    color:white;
    padding: 15px 0 15px 0;
    text-align: center;
}

.call p{
    margin-bottom: 20px;
}

.call a{
    background-color: purple;
    text-decoration: none;
    color: white;
    padding: 13px;
    border-radius: 10%;
}

.call a:hover{
    background-color: palevioletred;
}

.slider-container img{
    width: 100%;
}

footer{
    background-color: #000;
    color: #fff;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    margin-bottom: 5px;
}

#redes{
    font-size: 30px;
    filter: invert(50%) sepia(100%) saturate(10000%) hue-rotate(290deg);
}
.subir{
    background-color: black;
    color: white;
    height: 40px;
    width: 40px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    text-align:center;
    line-height: 40px;
    font-size: 30px;
    box-shadow: 2px 2px 7px #fff;
    border-radius: 50%;
}

.what{
    background-color: springgreen;
    height: 40px;
    width: 40px;
    position: fixed;
    right: 40px;
    bottom: 100px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-size: 28px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #fff;
}

.carro{
    background-color: black;
    height: 40px;
    width: 40px;
    position: fixed;
    right: 40px;
    bottom: 160px;
    text-align: center;
    line-height: 40px;
    font-size: 22px;
    box-shadow: 2px 2px 7px #5d9dfc;
    border-radius:50%;
}

/* Carta */
.carta1{
    color: #fff;
    text-align: center;
    padding-top: 20px;
    height: 80px;
}

.carta{
    text-align: center;
}

.carta img{
    box-shadow: 10px 5px 5px rgb(51, 51, 51);
    width: 45%;
}

.backcarta{
    background-image: url(Multimedia/Astronauta.jpg);
    background-position: center;
    background-size: cover;
    padding-bottom: 15vh;
}

section{
    display: flex;
    width: 600px;
    height: 430px;
    justify-content: center;   
}

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5s ease;
}

section img:hover {
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

/* Ubicacion */
.ubi{
    text-align: center;
}

iframe{
    height: 650px;
    width: auto;
    padding: 50px 40px;
    margin-bottom: 10vh;
    border-radius: 70px;
}

/* Contacto */
#contacto {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label,
input[type="text"],
input[type="email"],
textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

button {
    padding: 10px 20px;
    background-color: #84328b;
    color: #fff;
    border: 50%;
    cursor: pointer;
    border-radius: 7%;
}

.informacion-contacto,
.redes-sociales {
    margin-bottom: 20px;
}

.contenedor{
    max-width: 1200px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    /* oculto lo que queda fuera del .contenedor */
    contain: paint;
}
/* SECCION CONTENEDOR DE ITEMS */
.contenedor .contenedor-items{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    grid-gap:30px;
    grid-row-gap: 30px;
    width: 60%;
    transition: .3s;
}
.contenedor .contenedor-items .item{
    max-width: 230px;
    margin: auto;
    border: 1px solid #666;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
}
.contenedor .contenedor-items .item .img-item{
    width: 100%;
}
.contenedor .contenedor-items .item:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
}
.contenedor .contenedor-items .item .titulo-item{
    display: block;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}
.contenedor .contenedor-items .item .precio-item{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}

.contenedor .contenedor-items .item .boton-item{
    display: block;
    margin: 10px auto;
    border: none;
    background-color: darkcyan;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}
/* seccion carrito */
.carrito{
    border: 1px solid #666;
    width: 35%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    position: sticky !important;
    top: 0;
    transition: .3s;
    background-color: white;
    /* Estilos para ocultar */
    margin-right: -100%;
    opacity: 0;
}
.carrito .header-carrito{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.carrito .carrito-item{
    display: flex;
    align-items: center;
/*     justify-content: space-between;  */
    position: relative;
    border-bottom: 1px solid #666;
    padding: 20px;
}
.carrito .carrito-item img{
    margin-right: 20px;
}
.carrito .carrito-item .carrito-item-titulo{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.carrito .carrito-item .selector-cantidad{
    display: inline-block;
    margin-right: 25px;
}
.carrito .carrito-item .carrito-item-cantidad{
    border: none;
    font-size: 18px;
    background-color: transparent;
    display: inline-block;
    width:30px;
    padding: 5px;
    text-align: center;
}
.carrito .carrito-item .selector-cantidad i{
    font-size: 18px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}
.carrito .carrito-item .carrito-item-precio{
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 5px;
}
.carrito .carrito-item .btn-eliminar{
    position: absolute;
    right: 15px;
    top: 15px;
    color: #000;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    display: block;
    background: transparent;
    z-index:20;
}
.carrito .carrito-item .btn-eliminar i{
    pointer-events: none;
}

.carrito-total{
    background-color: #f3f3f3;
    padding: 30px;
}
.carrito-total .fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.carrito-total .btn-pagar{
    display: block;
    width: 100%;
    border: none;
    background: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: .3s;
}
.carrito-total .btn-pagar:hover{
    scale: 1.05;
}

.item{
    color: white
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 850px) {
    .contenedor {
    display: block;
    }
    .contenedor-items{
        width: 100% !important;
    }
    .carrito{
        width: 100%;
    }
}

